<div class="container">
	<div class="page-header">
		<h1>Olvide mi contraseña</h1>
	</div>

	<!-- FORM LOGIN -->
	<form ng-submit="doRequestPassword(resetData)">
		<div>
			<label for="username">Username: </label>
			<input class="form-control" id="username" type="text" ng-model="resetData.username" required>
		</div>
		<br>
		<!-- LOGIN BUTTONS -->
		<button type="submit" class="btn btn-primary">Enviar</button>
	</form>
	<br>
	<!-- LOADING -->
	<div class="jumbottom text-center" ng-show="loading">
		<p>Loading...</p>
	</div>
	<br>
	<!-- MESSAGE SUCCESS -->
	<div class="row show-hide-message" ng-show="successMsg">
		<div class="alert alert-success">{{ successMsg }}</div>
	</div>
	<br>
	<!-- MESSAGE ERROR -->
	<div class="row show-hide-message" ng-show="errorMsg">
		<div class="alert alert-danger">{{ errorMsg }}</div>
	</div>
</div>
