<!DOCTYPE html>
<html lang="es" ng-app="MyApp">
	<head>
		<base href="/"/>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1"/>
		<title>MEAN Stack</title>
		<link rel="stylesheet" href="/css/style.css" />
		<script src="/js/app.js"></script>
	</head>
	<body ng-controller="MainController" ng-show="loadme" ng-cloak>

		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">MEAN Stack</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li ng-class="{ active : esActivo('/') }"><a href="/">Home</a></li>
						<li ng-class="{ active : esActivo('/login') }"><a href="/login" ng-if="!isLoggedIn">Login</a></li>
						<li ng-class="{ active : esActivo('/about') }"><a href="/about" ng-if="isLoggedIn">About</a></li>
						<li ng-class="{ active : esActivo('/management') }"><a href="/management" ng-if="isLoggedIn && isPermited">Management</a></li>
						<li ng-class="{ active : esActivo('/register') }"><a href="/register" ng-if="!isLoggedIn">Registrarse</a></li>
						<li ng-class="{ active : esActivo('/profile') }"><a href="/profile" ng-if="isLoggedIn">Hola {{user.username}}</a></li>
						<li ng-class="{ active : esActivo('/logout') }"><a ng-click="logout()"  ng-if="isLoggedIn">Logout</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</nav>

		<div class="Container theme-showcase" role="main">
			<div ng-view></div>

      <!-- <button ng-click="openModal()">Modal</button> -->

      <!-- Modal -->
      <div class="modal fade in viewModal" id="myModal" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" ng-click="endSession()" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{ modalHeader }}</h4>
              </div>
              <div class="modal-body">
                <p>{{ modalBody }}</p>
                <div ng-show="hideButtons" class="loader"></div>
              </div>
              <div class="modal-footer">
                <button type="button" ng-hide="hideButtons" ng-click="renewSession()" class="btn btn-primary" data-dismiss="modal">Si</button>
                <button type="button" ng-hide="hideButtons" ng-click="endSession()" class="btn btn-danger" data-dismiss="modal">No</button>
              </div>
            </div>
          </div>
        </div>
		</div>
    <!-- <div class="modal-backdrop fade viewModal"></div> -->

	</body>
</html>
